@model Project.DataBase.MvcWebUI.Models.ShippingDetailsViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Default.cshtml";
}
<h2>Shipping Details</h2>

<form asp-controller="Cart" asp-action="Complete" method="post">
@*    <div class="mb-3">
        <label asp-for="ShippingDetails.FirstName"></label>
        <input asp-for="ShippingDetails.FirstName" class="form-control" placeholder="First Name">
        <span asp-validation-for="ShippingDetails.FirstName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShippingDetails.LastName"></label>
        <input asp-for="ShippingDetails.LastName" class="form-control" placeholder="Last Name">
        <span asp-validation-for="ShippingDetails.LastName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShippingDetails.AddressId"></label>
        <input asp-for="ShippingDetails.AddressId" class="form-control" placeholder="Address">
        <span asp-validation-for="ShippingDetails.AddressId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ShippingDetails.City"></label>
        <input asp-for="ShippingDetails.City" class="form-control" placeholder="City">
        <span asp-validation-for="ShippingDetails.City"></span>
    </div>*@
    <div>
        <select asp-for="IAddressId" class="form-control" asp-items="@(new SelectList(Model.addresses,"AddressId","AddressTitle"))"></select>
    </div>
    <div>
        <a asp-controller="Order" asp-action="NewAddress">Add New Address</a>
    </div>
    <input type="submit" value="Complete Shopping" class="btn btn-sm btn-success"/>
</form>